<div>
    <h1>
        <%= @task.name %>
    </h1>
    <h5>
        assigned to, <a href="/users/<%= @user.id%>"><%= @user.username %></a>
    </h5>
    <p>
        <%if current_user.id == @task.user_id || current_user.id == find_project(@task.project_id).user_id%>
            <a href="/tasks/<%=@task.id%>/edit" class="green darken-4 waves-effect waves-light btn-small">Edit Task</a>
        <% end %>
            <form action="/tasks/<%=@task.id%>" method="post">
            <% unless @task.completed == true %>
                    <button name="task[completed]" value="true" class="grey darken-4 waves-effect waves-light btn-small">Complete</button>
            <% else %>
                    <button name="task[completed]" value="false" class="grey darken-4 waves-effect waves-light btn-small">Not Complete</button>
            <% end %>
        </form>
    </p>
</div>
<div>
    <% unless @task.deadline.nil? %>
        <p>
            due by, <%= @task.deadline %>
        </p>
    <% else %>
        <p>
            No deadline specified.
        </p>
    <% end %>
</div>

<div>
    <h5>
        Description:
    </h5>

    <% unless @task.description.nil? || @task.description.empty? %>
        <p>
            <%= @task.description %>
        </p>
    <% else %>
        <p>
            No description provided.
        </p>
    <% end %>
</div>