<h1><%= @user.name %> profile:</h1>
<div>
    <a href="/projects/new" class="btn"><i class="material-icons left" >create_new_folder</i>Create New Project</a>
    
    <% if current_user == @user %>
        <a href="/users/<%=@user.id%>/edit" class="btn"> <i class="material-icons" >construction</i> Edit Profile</a>
    <% end %>
</div>

<div>
    <div class="container">
        <% @projects.each do |project| %>
            <a href="/projects/<%=project.id%>" class="card no-dec">
                <img src="<%=project.img_link%>" class="e-img">
                <h1><%= project.name %></h1>
                <p><%= project.description %></p>
            </a>
          
        
        <% end %>
    </ul>  
</div>

<a href="/users?page=<%=@page+1%>" class="btn show-more">Show More</a>