
<% if params[:query] && params[:query] != "" %>
    <h1>Search results for <%= params[:query]%></h1>
<% else %>
    <h1>List of All Projects.</h1>
<% end %>


<a href="/projects/new" class="right grey darken-4 waves-effect waves-light btn-small"><i class="material-icons left" >create_new_folder</i>Create New Project</a>
<br>
<br>
<div class="row">
    <% if @projects.empty? %>
        <p>There were no search results for <%=params[:query]%></p>
    <% else %>
        <% @projects.each do |project| %>
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="brown lighten-2 card-image waves-effect waves-block waves-light">
                        <img class="activator" src="<%=project.img_link%>">
                    </div>
                    <% if project.user_id == current_user.id %>
                            <div class="black card-content">
                            <h6 class="white-text">OWNED</h6>
                    <% elsif project.accepted_users.include?(current_user)%>
                            <div class="green darken-2 card-content">
                            <h6 class="white-text">JOINED</h6>
                    <% else %>
                            <div class="blue-grey darken-4 card-content">
                            <h6 class="white-text">PRIVATE</h6>
                    <% end %>
                <span class="card-title activator white-text"><%= project.name %><i class="material-icons right">more_vert</i></span>
                        <p><a href="/projects/<%=project.id%>">Go to project</a></p>
                        <p class="white-text">Created by, <a href="/users/<%=project.user_id%>"><%= User.find(project.user_id).username %></a></p>
                    </div>
                    <div class="blue-grey darken-4 card-reveal">
                        <span class="white-text card-title"><%= project.name %><i class="material-icons right">close</i></span>
                        <p><a href="/projects/<%=project.id%>">Go to project</a></p>
                        <p class="white-text">Created by, <a href="/users/<%=project.user_id%>"><%= User.find(project.user_id).username %></a></p>
                        <p class="white-text"><%= limit_words(project.description, 250) %></p>
                    </div>
                </div>        
            </div>
        <% end %>
    <% end %>
</div>