<div>
    <img class="materialboxed right" style="margin-right:-30px; margin-left:30px; margin-top:-40px" width="400px" height="300px" src="<%=@project.img_link%>">
    <h1><%= @project.name %></h1>
    <h4>created by, <%= @project.user.name.capitalize %></h4>
    <br>
    <div>
        <p style="text-align:center">
            <%= @project.description %>
        </p>
    </div>
</div>
<br>
<div>
<% if @project.user == current_user %>
    <div>
        <form action="/projects/<%=@project.id%>" method="post">
            <input type="hidden" name="_method" value="delete">
            <a href="/projects/<%=@project.id%>/edit" class="grey darken-4 waves-effect waves-light btn-small"> <i class="material-icons left" style="margin-right:2px; margin-left:-8px">build</i>Edit Project</a>
            <button type="submit" class="red lighten-2 waves-effect waves-light btn-small right"> <i class="material-icons left" style="margin-right:2px; margin-left:-8px">delete_forever</i> Delete Account</button> 
        </form>
    </div>
<% end %>
</div>



