<div>
    <img class="materialboxed right" style="margin-right:-30px; margin-left:30px; margin-top:-40px" width="400px" height="300px" src="<%=@project.img_link%>">
    <h1><%= @project.name %></h1>
    <h4>Owned by, <%= @user.name.capitalize %></h4>
    <% if @project.users.include?(current_user) %>
        <strong>
            <h5 class="green-text text-color grey lighten-4">
                You are part of this project.
            </h5>
        </strong>
    <% end %>
    <br>
    <div>
        <p style="text-align:center">
            <%= @project.description %>
        </p>
    </div>
</div>
<br>
<div>
<% if @project.users.include?(current_user)%>
    <div>
        <form action="/projects/<%=@project.id%>" method="post">
            <a href="/projects/<%=@project.id%>/edit" class="grey darken-4 waves-effect waves-light btn-small"> <i class="material-icons left" style="margin-right:2px; margin-left:-8px">build</i>Edit Project</a>
            <input type="hidden" name="_method" value="delete">
            <% if current_user == @user %>
                <button type="submit" class="red lighten-2 waves-effect waves-light btn-small right"> <i class="material-icons left" style="margin-right:2px; margin-left:-8px">delete_forever</i> Delete Project</button> 
            <% end %>
        </form>
    </div>
<% end %>
</div>



