<div>
    <img class="materialboxed right" style="margin-right:-30px; margin-left:30px; margin-top:-40px" width="400px" height="300px" src="<%=@project.img_link%>">
    <h1><%= @project.name %></h1>
    <h4>Owned by, <%= @user.name.capitalize %></h4>
    <% if @project.users.include?(current_user) %>
        <strong>
            <h5 class="green-text text-color grey lighten-4">
                You are part of this project.
            </h5>
        </strong>
        <br>
        <div>
            <form action="/projects/<%=@project.id%>" method="post">
                <a href="/projects/<%=@project.id%>/edit" class="grey darken-4 waves-effect waves-light btn-small"> <i class="material-icons left" style="margin-right:2px; margin-left:-8px">build</i>Edit Project</a>
                <input type="hidden" name="_method" value="delete">
                <% if current_user == @user %>
                    <button type="submit" class="red lighten-2 waves-effect waves-light btn-small right"> <i class="material-icons left" style="margin-right:2px; margin-left:-8px">delete_forever</i> Delete Project</button>
                <% end %>
            </form>
            <!-- Notifications -->
            <div>
                <% if current_user == @user %>
                    <% @notifications.each do |note| %>
                        <% requester = User.find(note.join_request.to_i) %>
                        <h6 class="text-color yellow lighten-3" id="notification">
                            <a href="/users/<%=requester.id%>"><%= requester.username %></a> Has requested to join this project. 
                            <div id="question" style="display:inline">
                                <form action="/notifications/<%=note.id%>/accept" method="post" style="display:inline">
                                    <button>Accept</button>
                                </form>
                                <form action="/notifications/<%=note.id%>/decline" method="post" style="display:inline">
                                    <button>Decline</button>
                                </form>
                            </div>
                            <p id="response"></p>
                        </h6>
                    <% end %>
                <% end %>
            </div>
            <!-- Notifications End-->
        </div>
    <% else %>
        <% unless Notification.find_by(project_id: @project.id, join_request: "#{current_user.id}") %>
            <form action="/projects/<%=@project.id%>/join" method="post">
                <input type="submit" value="Join Request">
            </form>
        <% else %>
            <button disabled="disabled">Join Requested</button>
        <% end %>
    <% end %>
    <br>
    <div>
        <p>
            <%= @project.description %>
        </p>
    </div>

    <div>
        <h5>Users:</h5>
        <p>
            <% @project.users.each do |user|%>
                <li>
                    <a href="/users/<%=user.id%>"><%=user.username%></a>
                </li>
            <% end %>
        </p>
    </div>
</div>
