<h1 style="text-align:center"><%= @project.name %></h1>
<br>
<h2 style="text-align:center">Description:</h2 style="text-align:center">
<div>
    <p style="text-align:center">
        <%= @project.description %>
    </p>
</div>

<h2 style="text-align:center">Image:</h2 style="text-align:center">
<div style="text-align: center">
    <img src=<%=@project.img_link%> align="center" width="400" height="300" >
</div>
<div>
    <form action="/projects/<%=@project.id%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <a href="/projects/<%=@project.id%>/edit"><button type="button">Edit Project</button></a>
        <input type="submit" value="Delete Project" style="float: right;">
    </form>
</div>



